{% extends "base.html" %}
{% load static %}

{% block title %}Liste des articles{% endblock %}

{% block breadcrumb %}
	<li><a href="{% url 'home' %}">Accueil</a></li>
	<il><span>Liste des articles</span></li>
{% endblock breadcrumb %}

{% block content %}
<div class="uk-width-4-5 uk-margin-auto">
	{% for article in articles %}
	<div id="a{{ article.id }}" uk-modal>
		<div class="uk-modal-dialog uk-modal-body">
			<h2 class="uk-modal-title">Supprimer ?</h2>
			<p>Êtes-vous sûr de vouloir supprimer cet article, aucun retour en arrière ne sera possible !</p>
			<p class="uk-text-right">
				<button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
				<a class="uk-button uk-button-primary" type="link" href="{% url 'delete_article' id_article=article.id %}">Supprimer</a>
			</p>
		</div>
	</div>
		<article uk-scrollspy="cls:uk-animation-fade">
			<h2>{{ article.title }} crée le {{ article.date_creation|date:"d/M/Y" }} par {{ article.author.username }}</h2>
			<div class="uk-padding-small">{{ article.contents|safe }}</div>
			<a class="uk-button uk-button-danger" uk-toggle href='#a{{ article.id }}'>Supprimer</a>
			<a class="uk-button uk-button-secondary uk-margin-small-left" href="{% url 'update_article' id_article=article.id %}">Modifier</a>
		</article>
			<hr />
		{% empty %}
			<p>Aucun article n'a été crée, cliquez <a href="{% url 'create_article' %}">Ici</a> pour un crée un.</p>
		{% endfor %}
</div>
{% endblock %}
