.vscode

*.code-workspace

*.pyc

\.idea/

\.metadata/

\.settings/

migrations

__pycache__

venv/

\.project

\.pydevproject

staticfiles

db.sqlite3

media/*

frontend/webpack-stats.json
frontend/webpack-stats-prod.json
