{% extends "base.html" %}

{% block title %}Modifier un article{% endblock %}

{% block breadcrumb %}
	<li><a href="{% url 'home' %}">Accueil</a></li>
	<li><a href="{% url 'list_article' %}">Liste des articles</a></li>
	<li><span>Créer un article</span></li>
{% endblock breadcrumb %}

{% block content %}
<div class="uk-width-4-5 uk-margin-auto">
    <fieldset class="uk-fieldset">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <p><input type="submit" class="uk-button uk-button-secondary uk-margin-top uk-margin-bottom uk-position-center uk-position-relative" value="Modifier l'article"></p>
        </form>
    </fieldset>
</div>
{% endblock %}
