{% extends 'base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'CSS/coffee/table_command.css' %}">{% endblock style %}

{% block title %}Commander du café{% endblock title %}

{% block breadcrumb %}
	<li><a href="{% url 'home' %}">Accueil</a></li>
	<li class="uk-disabled"><a>Café</a></li>
    <li><span>Commander du café</span></li>
{% endblock breadcrumb %}

{% block second_header %}
<h1  class="uk-text-center uk-text-bold uk-margin-medium-top">Commander du café</h1>
<br>
<div class="uk-width-3-5@s uk-margin-auto uk-padding-remove-left uk-padding-remove-right uk-padding"  uk-slider="center: true; autoplay: true; autoplay-interval: 6000; pause-on-hover: false; finite: false">
    
    <div class="uk-position-relative">
    
        <div class="uk-slider-container">
 
            <ul class="uk-slider-items uk-grid">
                <li class="uk-width-3-4">
                    <img src="{% static 'Images/Coffee/coffee1.jpg' %}" alt="">
                </li>
                <li class="uk-width-3-4">
                        <img src="{% static 'Images/Coffee/coffee2.jpg' %}" alt="">
                </li>
                <li class="uk-width-3-4">
                    <img src="{% static 'Images/Coffee/coffee.jpg' %}" alt="">
                </li>
                <li class="uk-width-3-4">
                    <img src="{% static 'Images/Coffee/coffee1.jpg' %}" alt="">
                </li>
                <li class="uk-width-3-4">
                    <img src="{% static 'Images/Coffee/coffee2.jpg' %}" alt="">
                </li>
                <li class="uk-width-3-4">
                    <img src="{% static 'Images/Coffee/coffee.jpg' %}" alt="">
                </li>
            </ul>
 
        </div>
 
        <div class="uk-hidden@s uk-light">
            <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
        <div class="uk-visible@s">
            <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
    </div>
</div>
{% endblock second_header %}

{% block content %}
<div  class="uk-position-fixed uk-position-center uk-width-2-5" id="loader" style="z-index: 100" uk-grid hidden>
    <div uk-spinner="ratio: 3"  class="uk-text-primary"></div><p class="uk-text-bold uk-text-large uk-text-primary uk-margin-auto-vertical">Chargement en cours</p>
</div>
<br>
<div class="uk-margin-auto uk-margin-large-bottom uk-width-2-5@m uk-card uk-card-default" uk-scrollspy="cls:uk-animation-fade; delay: 200">
    <div class="uk-text-justify uk-text-bold uk-card-body">
        <span class="uk-text-primary">Choisissez votre café en fonction de la cafetière à laquelle vous le destinez :</span><br>
        <ul class="uk-list uk-list-bullet">
            <li>Moulu expresso pour une cafetière expresso.</li>
            <li>Moulu moka pour une cafetière italienne.</li>
            <li>Moulu piston pour une cafetière à piston.</li>
            <li>Moulu filtre pour une cafetière filtre.</li>
        </ul>
        <span class="uk-text-primary">
        Vous pouvez aussi acheter votre café en grains et le moudre au fur et à mesure de votre consommation, l'arôme n'en sera que meilleur !
        </span>
        <ul class="uk-list uk-list-bullet">
            <li>Grain expresso pour cafetière italienne et expresso (la torréfaction est légèrement plus forte).</li>
            <li>Grain filtre pour une cafetière filtre ou piston (la torréfaction est légèrement plus douce).</li>
        </ul>
    <br>
    Merci de compléter le tableau ci-dessous et de renseigner vos informations. 
    Tous les procédés (mouture, torréfaction) ne sont pas disponibles pour chaque café. Dans ce cas, la cellule n'est pas active !
    </div>
</div>

<div id="recap" class="uk-flex-top uk-modal-container uk-text-center" uk-modal>
	<div class="uk-modal-dialog uk-margin-auto-vertical">
		<div class="uk-modal-header">
			<h2 class="uk-modal-title">Récapitulatif de la commande</h2>
		</div>
		<div class="uk-modal-body" id="note">
		</div>
        <div class="uk-modal-footer uk-padding uk-margin-top">
            <a type="submit" class="uk-button uk-button-primary uk-margin-large-right" id="modalSubmit">Valider ma commande</a>
            <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler/Modifier la commande</button>
        </div>
	</div>
</div>
<form method="post" id="form" action="{% url 'coffee_command' %}">
    {% csrf_token %}
    <fieldset class="uk-width-3-5@l uk-width-auto uk-margin-auto uk-fieldset uk-padding@l uk-margin-large-bottom uk-text-center" uk-scrollspy="cls:uk-animation-fade; target: > div > span > input, > div > span > label, > legend; delay: 200; repeat: false" >
        <legend class="uk-legend">Informations</legend>
        <div uk-grid="uk-grid-expanded"  class="uk-margin-large">
            <span class="uk-margin-auto">
                <label class="uk-form-label" for="first_name">Prénom</label>
                <input type="text" class="uk-input uk-form-width-medium" required name="first_name">
            </span>
            <span class="uk-margin-auto">
                <label class="uk-form-label" for="name">Nom</label>
                <input type="text" class="uk-input uk-form-width-medium" required name="name">
            </span>
            <span class="uk-margin-auto">
                <label class="uk-form-label" for="email">Email</label>
                <input type="mail" class="uk-input uk-form-width-medium" required name="email">
            </span>
        </div>
    </fieldset>
    <div class="uk-overflow-auto"> 
        <table  class="uk-table uk-table-hover uk-table-middle uk-table-striped" uk-scrollspy="cls: uk-animation-fade; target: tbody, thead; delay: 100; repeat: false">
            <thead>
                <tr>
                    <th><span  class="uk-text-bold uk-text-large">Types</span></th>
                    <th><span  class="uk-text-bold uk-text-large">Quantités</span></th>
                    {% for type in types %}
                        <th><span  class="uk-text-bold uk-text-large">{{ type.name }}</span></th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for coffee, type_available in coffees_type.items %}
                <div id="a{{ coffee.id }}" class="uk-modal-container" uk-modal>
                    <div class="uk-modal-dialog">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                            <div class="uk-modal-header">
                                <h4 class="uk-modal-title">{{ coffee.farm_coop }}</h4>
                            </div>
                                    
                            <div class="uk-modal-body" uk-overflow-auto>
                                <div uk-grid class="uk-width-2-5@l uk-margin-auto">
                                    <div>
                                        Procédé de fabrication : {{ coffee.process }}<br>
                                        Variétés : {{ coffee.variety }}<br>
                                    </div>
                                    <div>
                                        Prix pour 200g : {{ coffee.two_hundred_gram_price }} €<br>
                                        Prix pour 1Kg : {{ coffee.kilogram_price }} €<br>
                                    </div>
                                </div>
                                {{ coffee.description|safe }}
                                <br><br>
                            </div>

                            <div class="uk-modal-footer uk-text-center">
                                <button class="uk-button uk-button-secondary uk-modal-close" type="button">Fermer</button>
                            </div>
                        </div>
                    </div>
                    <tr>
                        <td>
                            <button class="uk-button uk-button-secondary uk-button-small" type="button" href="#a{{ coffee.id }}" uk-toggle>
                                {{ coffee.region }}
                                <br>({{ coffee.origin.name }})
                            </button>
                        </td>
                        <td>Bocal de 200 grammes</td>
                            {% for type in types %}
                            {% if type.name in type_available %}
                                <td><input type="number" max="{{ coffee.maximum }}" min="0" class="uk-input" step="1" name="{{ coffee.id }}/200/{{ type.id }}"></td>
                            {% else %}
                                <td><input type="text" value="Type non disponible" class="uk-input" disabled></td>
                            {% endif %}
                            {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            <button class="uk-button uk-button-secondary uk-button-small" type="button" href="#a{{ coffee.id }}" uk-toggle>
                                {{ coffee.region }}
                                <br>({{ coffee.origin.name }})
                            </button>
                        </td>
                        <td>Sachet de 1kg</td>
                            {% for type in types %}
                            {% if type.name in type_available %}
                                <td><input type="number" max="{{ coffee.maximum }}" min="0" class="uk-input" step="1" name="{{ coffee.id }}/1000/{{ type.id }}"></td>
                            {% else %}
                                <td><input type="text" value="Type non disponible" class="uk-input" disabled></td>
                            {% endif %}
                            {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <input type="submit" class="uk-button uk-button-primary uk-margin-large uk-padding uk-padding-remove-top uk-padding-remove-bottom uk-position-relative uk-position-bottom-center" id="formSubmit" value="Valider ma commande" uk-scrollspy="cls:uk-animation-fade; delay: 500;">
</from>
{% endblock content %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="{% static 'JS/coffee/table_command.js' %}"></script>
{% endblock script %}
