{% load static %}
<div class="uk-hidden@m uk-hidden-touch">
	<div class="uk-box-shadow-large" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
	    <nav class="uk-navbar-container uk-navbar" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-primary uk-primary; top: 200" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-toggle" href="#menu" uk-toggle>
                    <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
                </a>
            </div>
						<div class="uk-navbar-center">
							<a href="{% url 'home' %}">
								<img src="{% static 'Images/logo.png' %}" alt="Logo" width="75" height="75">
							</a>
						</div>
            {% if user.is_authenticated %}
	        <div class="uk-navbar-right uk-margin-right">
	            <a href="#" class="uk-text uk-navbar-toggle"><span  uk-icon="icon: user; ratio: 1.5"></span>{{ user.first_name|default:user.username }}</a>
	            <div class="uk-navbar-dropdown" uk-dropdown>
	            	<ul class="uk-nav uk-navbar-dropdown-nav">
	            		<li><a href="{% url 'disconnection_connection' %}">Changer d'utilisateur</a></li>
	            		<li><a href="{% url 'disconnection' %}">Déconnexion</a></li>
	            	</ul>
	            </div>
	        </div>
	        {% endif %}
        </nav>
    </div>


    <div id="menu" uk-offcanvas="overlay: true; mode: push">
		<div class="uk-offcanvas-bar uk-flex uk-flex-column">
                        
            <ul class="uk-nav uk-nav-center uk-margin-auto-vertical" uk-nav>
                <li>
									<a href="{% url 'home' %}">Accueil</a>
								</li>
                <li>
                  <a href="/#/compte/liste-des-adherents">Liste des adhérents</a>
                </li>
                
                <br>
                
                <li class="uk-parent">
                    <a href="#" class="uk-nav-header"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span>Espace administration</a>
                    
                    <ul class="uk-nav uk-nav-sub uk-nav-default uk-nav-parent-icon" uk-nav>
                        
                        <li class="uk-parent">
                            <a class="uk-nav-header">Article</a>
                            <ul class="uk-nav-sub">
                                <li><a href="{% url 'list_article' %}">Liste des articles</a></li>
                                <li><a href="{% url 'create_article' %}">Créer un article</a></li>
                            </ul>
                        </li>
                        
                        <li class="uk-nav-divider"></li>
                        
                        <li class="uk-parent">
                            <a class="uk-nav-header">Évènement</a>
                            <ul class="uk-nav-sub">
                                <li><a href="{% url 'list_event' %}">Liste des évènements</a></li>
                                <li><a href="{% url 'create_event' %}">Créer un évènement</a></li>
                            </ul>
                        </li>

												<li class="uk-nav-divider"></li>

												<li class="uk-parent">
													<a href="" class="uk-nav-header">Agrumes</a>
													<ul class="uk-nav-sub">
														<li><a href="/#/agrumes/liste-des-produits">Liste des produits</a></li>
														<li><a href="/#/agrumes/creer-un-produit">Ajouter un produit</a></li>
													</ul>
												</li>
     
                        <li class="uk-nav-divider"></li>
                        
                        <li class="uk-parent">
                            <a href="#" class="uk-nav-header">Café</a>
                            <ul class="uk-nav-sub">
                                <li><a href="{% url 'list_coffee' %}">Liste des cafés</a></li>
                                <li><a href="{% url 'create_coffee' %}">Ajouter un café</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="{% url 'global_command' %}">Commande globale</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="{% url 'list_origin' %}">Liste des origines</a></li>
                                <li><a href="{% url 'create_origin' %}">Ajouter une origine</a></li>
                            </ul>
                        </li>
                        
                        <li class="uk-nav-divider"></li>
                        
                        <li class="uk-parent">
                            <a class="uk-nav-header">Carousel</a>
                            <ul class="uk-nav-sub">
                                <li><a href="{% url 'list_carousel' %}">Liste des carousels</a></li>
                                <li><a href="{% url 'create_carousel' %}">Créer un carousel</a></li>
                            </ul>
                        </li>

												<li class='uk-nav-divider'></li>

												<li class="uk-parent">
													<a class="uk-nav-header" type='button'>Paramètres</a>
													<ul class="uk-nav-sub">
														<li><a href="{% url 'list_pageaccess' %}">Listes de règle d’accès aux pages</a></li>
														<li><a href="{% url 'create_pageaccess' %}">Ajouter une règle d’accès à une page</a></li>
													</ul>
												</li>

												<li class='uk-nav-divider'></li>

                        <li><a href="/admin/">Administration</a></li>
                    </ul>
                </li>

                <br>
                
                <li class="uk-parent">
                    <a href="#" class="uk-nav-header uk-nav-default"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span>Commander</a>
                    <ul class="uk-nav-sub uk-nav-default">
                        <li><a href="/#/cafe/commander">café</a></li>
                    </ul>
                </li>
            </ul>
	    </div>
	</div>
</div>

<div class="uk-visible@m uk-hidden-touch">
	<div class="uk-box-shadow-large" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
	    <nav class="uk-navbar-container" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-primary uk-primary; top: 200" uk-navbar>
	        <div class="uk-navbar-center">
	            <ul class="uk-navbar-nav">
	                <li><a href="{% url 'home' %}">Accueil</a></li>
									<a class="uk-navbar-item uk-logo"><img src="{% static 'Images/logo.png' %}" width="75px" height="75px" /></a>
		            	<li>
	                	<a href="/#/compte/liste-des-adherents">Liste des adhérents</a>
	                </li>
	                <li>
		                <a href="#administration-space" uk-toggle>Espace administration</a>
		            </li>
					<li>
						<a href="#">Commander</a>
					  <div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								<li><a href="/#/cafe/commander">café</a></li>
							</ul>
						</div>
					</li>
	        {% if user.is_authenticated %}
	          <li class="uk-position-relative uk-position-right uk-margin-right uk-margin-large-left">
	            <a href="#" class="uk-text"><span  uk-icon="icon: user; ratio: 1.5"></span>{{ user.first_name|default:user.username }}</a>
	            <div class="uk-navbar-dropdown">
	            	<ul class="uk-nav uk-navbar-dropdown-nav">
	            		<li><a href="{% url 'disconnection_connection' %}">Changer d'utilisateur</a></li>
	            		<li><a href="{% url 'disconnection' %}">Déconnexion</a></li>
	            	</ul>
	            </div>
	      		</li>
	        {% endif %}
	      </ul>
	    </div>
	  </nav>
	</div>
	
	<div id="administration-space" uk-offcanvas="overlay: true">
		<div class="uk-offcanvas-bar">
		  <ul class="uk-nav uk-nav-default uk-nav-parent-icon" uk-nav>
				<li class="uk-active uk-text-center uk-text-bold"><a href="#">Espace administration</a></li><br>
				<li class="uk-parent">
					<a class="uk-nav-header">Article</a>
					<ul class="uk-nav-sub">
						<li><a href="{% url 'list_article' %}">Liste des articles</a></li>
						<li><a href="{% url 'create_article' %}">Créer un article</a></li>
					</ul>
				</li>

		    <li class="uk-nav-divider"></li>

				<li class="uk-parent">
		      <a class="uk-nav-header">Évènement</a>
		      <ul class="uk-nav-sub">
						<li><a href="{% url 'list_event' %}">Liste des évènements</a></li>
		        <li><a href="{% url 'create_event' %}">Créer un évènement</a></li>
					</ul>
				</li>

				<li class='uk-nav-divider'></li>

		    <li class="uk-parent">
					<a href="#" class="uk-nav-header">Café</a>
					<ul class="uk-nav-sub">
						<li><a href="{% url 'list_coffee' %}">Liste des cafés</a></li>
						<li><a href="{% url 'create_coffee' %}">Ajouter un café</a></li>
		        
						<li class="uk-nav-divider"></li>
						<li><a href="/#/cafe/liste-des-commandes">Liste des commandes</a></li>
						<li><a href="{% url 'global_command' %}">Commande globale</a></li>
						
						<li class="uk-nav-divider"></li>
						
						<li><a href="{% url 'list_origin' %}">Liste des origines</a></li>
						<li><a href="{% url 'create_origin' %}">Ajouter une origine</a></li>
					</ul>
				</li>

			  <li class="uk-nav-divider"></li>
				
				<li class="uk-parent">
			    <a class="uk-nav-header">Carousel</a>
			    <ul class="uk-nav-sub">
						<li><a href="{% url 'list_carousel' %}">Liste des carousels</a></li>
						<li><a href="{% url 'create_carousel' %}">Créer un carousel</a></li>
					</ul>
				</li>

				<li class="uk-nav-divider"></li>

				<li class="uk-parent">
					<a href="" class="uk-nav-header">Agrumes</a>
					<ul class="uk-nav-sub">
						<li><a href="/#/agrumes/liste-des-produits">Liste des produits</a></li>
						<li><a href="/#/agrumes/ajouter-un-produit">Ajouter un produit</a></li>
					</ul>
				</li>

				<li class='uk-nav-divider'></li>

				<li class="uk-parent">
					<a class="uk-nav-header" type='button'>Paramètres</a>
					<ul class="uk-nav-sub">
						<li><a href="{% url 'list_pageaccess' %}">Listes de règle d’accès aux pages</a></li>
						<li><a href="{% url 'create_pageaccess' %}">Ajouter une règle d’accès à une page</a></li>
					</ul>
				</li>

				<li class='uk-nav-divider'></li>				
				
				<li><a href="/admin/">Administration</a></li>
			</ul>
	    </div>
	</div>
</div>


<!-- For mobile -->
<div class="uk-hidden-notouch">
	<div class="uk-box-shadow-large" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
	    <nav class="uk-navbar-container uk-navbar" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-primary uk-primary; top: 200" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-toggle" href="#mobile-menu" uk-toggle>
                    <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
                </a>
            </div>
						<div class="uk-navbar-center">
							<a href="{% url 'home' %}">
								<img src="{% static 'Images/logo.png' %}" alt="Logo" width="75" height="75">
							</a>
						</div>
            {% if user.is_authenticated %}
	        <div class="uk-navbar-right uk-margin-right">
	            <a href="#" class="uk-text uk-navbar-toggle"><span  uk-icon="icon: user; ratio: 1.5"></span>{{ user.first_name|default:user.username }}</a>
	            <div class="uk-navbar-dropdown" uk-dropdown>
	            	<ul class="uk-nav uk-navbar-dropdown-nav">
	            		<li><a href="{% url 'disconnection_connection' %}">Changer d'utilisateur</a></li>
	            		<li><a href="{% url 'disconnection' %}">Déconnexion</a></li>
	            	</ul>
	            </div>
	        </div>
	        {% endif %}
        </nav>
    </div>


    <div id="mobile-menu" uk-offcanvas="overlay: true; mode: push">
		<div class="uk-offcanvas-bar uk-flex uk-flex-column">
                        
            <ul class="uk-nav uk-nav-center uk-margin-auto-vertical" uk-nav>
                <li>
									<a href="{% url 'home' %}">Accueil</a>
								</li>
                <li>
                  <a href="/#/compte/liste-des-adherents">Liste des adhérents</a>
                </li>
                
                <br>
                
                <li class="uk-parent">
                    <a href="#" class="uk-nav-header"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span>Espace administration</a>
                    
                    <ul class="uk-nav uk-nav-sub uk-nav-default uk-nav-parent-icon" uk-nav>
                        
                        <li class="uk-parent">
                            <a class="uk-nav-header">Article</a>
                            <ul class="uk-nav-sub">
                                <li><a href="{% url 'list_article' %}">Liste des articles</a></li>
                                <li><a href="{% url 'create_article' %}">Créer un article</a></li>
                            </ul>
                        </li>
                        
                        <li class="uk-nav-divider"></li>
                        
                        <li class="uk-parent">
                            <a class="uk-nav-header">Évènement</a>
                            <ul class="uk-nav-sub">
                                <li><a href="{% url 'list_event' %}">Liste des évènements</a></li>
                                <li><a href="{% url 'create_event' %}">Créer un évènement</a></li>
                            </ul>
                        </li>
                        
                        <li class="uk-nav-divider"></li>
                        
                        <li class="uk-parent">
                            <a href="#" class="uk-nav-header">Café</a>
                            <ul class="uk-nav-sub">
                                <li><a href="{% url 'list_coffee' %}">Liste des cafés</a></li>
                                <li><a href="{% url 'create_coffee' %}">Ajouter un café</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="{% url 'global_command' %}">Commande globale</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="{% url 'list_origin' %}">Liste des origines</a></li>
                                <li><a href="{% url 'create_origin' %}">Ajouter une origine</a></li>
                            </ul>
                        </li>
                        
                        <li class="uk-nav-divider"></li>
                        
                        <li class="uk-parent">
                            <a class="uk-nav-header">Carousel</a>
                            <ul class="uk-nav-sub">
                                <li><a href="{% url 'list_carousel' %}">Liste des carousels</a></li>
                                <li><a href="{% url 'create_carousel' %}">Créer un carousel</a></li>
                            </ul>
                        </li>
                        
												<li class="uk-nav-divider"></li>

												<li class="uk-parent">
													<a href="" class="uk-nav-header">Agrumes</a>
													<ul class="uk-nav-sub">
														<li><a href="/#/agrumes/liste-des-produit">Liste des produits</a></li>
														<li><a href="/#/agrumes/ajouter-des-produit">Ajouter un produit</a></li>
													</ul>
												</li>

												<li class='uk-nav-divider'></li>

												<li class="uk-parent">
													<a class="uk-nav-header" type='button'>Paramètres</a>
													<ul class="uk-nav-sub">
														<li><a href="{% url 'list_pageaccess' %}">Listes de règle d’accès aux pages</a></li>
														<li><a href="{% url 'create_pageaccess' %}">Ajouter une règle d’accès à une page</a></li>
													</ul>
												</li>

												<li class='uk-nav-divider'></li>

                        <li><a href="/admin/">Administration</a></li>
                    </ul>
                </li>

                <br>
                
                <li class="uk-parent">
                    <a href="#" class="uk-nav-header uk-nav-default"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span>Commander</a>
                    <ul class="uk-nav-sub uk-nav-default">
                        <li><a href="/#/cafe/commander">café</a></li>
                    </ul>
                </li>
            </ul>
	    </div>
	</div>
</div>