{% extends 'base.html' %}
{% load static %}

{% block title %}Liste des commandes de café{% endblock title %}

{% block breadcrumb %}
	<li><a href="{% url 'home' %}">Accueil</a></li>
	<li class="uk-disabled"><a>Café</a></li>
	<li class="uk-disabled"><a>Commande</a></li>
    <li><span>Liste des commandes de café</span></li>
{% endblock breadcrumb %}

{% block content %}
    <div  class="uk-width-2-5 uk-margin-auto">

        <header class="uk-text-center" uk-scrollspy='cls:uk-animation-fade; delay:200; target: > *'>
            {% if data %}
                <h1 class='uk-margin-large-bottom'>Liste des commandes de café</h1>
                <a type="button" href="{% url 'pdf_list_command' %}" class="uk-button uk-button-secondary uk-padding-small">Télécharger le tableau au format PDF</a>

                {% if perms.coffee.can_delete_commandcoffee %}
                    <button uk-toggle="target: #delete-all" href="#" type="button" class="uk-button uk-button-danger uk-padding-small uk-margin-medium-left">Supprimer toutes les commandes</button>                            
                {% endif %}
                
            {% endif %}
        </header>

        <div id="delete-all" uk-modal>
            <div class="uk-modal-dialog">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Supprimer toutes les commandes de café ?</h2>
                </div>
                <div class="uk-modal-body">
                        Vous êtes sur le point de supprimer toutes les commandes de café, <span class="uk-text-warning uk-text-bold">attention, cette action est irréversible !</span>
                </div>
                <div class="uk-modal-footer">
                    <button type='button' class="uk-button uk-button-default uk-margin-right uk-modal-close">Annuler</button>
                    <a class="uk-button uk-button-danger" href="{% url 'delete_all_command_coffee' %}">Supprimer</a>
                </div>
            </div>
        </div>

        {% for user, quantitys in data.items %}
            <div class="uk-card uk-card-default uk-card-body uk-padding-large uk-margin-large-top" uk-scrollspy="cls:uk-animation-slide-left; delay:200;">
                <div class="uk-card-header uk-text-bold uk-child-width-auto uk-margin-large-bottom" uk-grid>
                    <div><span class="uk-label">Nom</span> {{ user.name }}</div>
                    <div><span class="uk-label">Prénom</span> {{ user.first_name }}</div>
                    <div><span class="uk-label">Email</span> {{ user.email }}</div>
                    <div><span class="uk-label">Numéro de téléphone</span> {{ user.phone_number }}</div>
                    <div><span class="uk-label">Prix à payer</span> {{ user.get_total_price }} €</div>
                </div>
                <div class="uk-card-body">
                    <ul  class="uk-list uk-list-divider">
                        {% for quantity in quantitys %}
                        <li>{{ quantity.coffee.farm_coop }} ({{ quantity.sort }}) <p  class="uk-text-right">{{ quantity.weight }}g x {{ quantity.quantity }} = {{ quantity.get_price }} €</p></li>
                        {% endfor %}
                    </ul>
                </div>

                {% if perms.coffee.can_delete_commandcoffee %}
                    <div class="uk-card-footer">
                        <div class="uk-inlinr">
                            <button type='button' class="uk-button uk-button-danger">Supprimer</button>
                            <div uk-dropdown="mode: click">
                                Êtes-vous sûr de vouloir supprimer cette commande ?<br>
                                <a href="{% url 'delete_command' id_command=user.id %}" class="uk-button uk-button-danger">Confirmer</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% empty %}
            <p class="uk-text-center uk-text-large uk-margin-large-top">Il n’y a actuellement aucune commande de café !</p>
        {% endfor %}
    </div>
{% endblock content %}