{% extends 'base.html' %}

{% block title %}Modifier un carousel{% endblock %}

{% block breadcrumb %}
	<li><a href="{% url 'home' %}">Accueil</a></li>
	<li><a href="{% url 'list_carousel' %}">Liste des carousels</a></li>
	<li><span>Modifier un carsousel</span></li>
{% endblock breadcrumb %}

{% block content %}
<div class="uk-width-4-5 uk-margin-auto"  enctype="multipart/form-data">
	<form action="" method="post">
    		{% csrf_token %}
    		{{ form.media }}
    		{{ form.as_p }}
		<p><input type="submit" class="uk-button uk-button-secondary uk-margin-top uk-margin-bottom uk-position-center uk-position-relative" value="Modifier le carousel"></p>
	</form>
</div>
{% endblock %}
