{% extends "base.html" %}
{% load static %}

{% block title %}Commander{% endblock %}

{% block header %}<h1 class="uk-text-center uk-margin-large-top">Commander des agrumes</h1>{% endblock header %}

{% block breadcrumb %}
	<li><a href="{% url 'home' %}">Accueil</a></li>
	<li class="uk-disabled"><a href='#'>Agrumes</a></li>
	<li><span>Commander des agrumes</span></li>
{% endblock breadcrumb %}

{% block second_header %}
<div class="uk-padding uk-margin-auto uk-width-3-5">
	<img data-src="{% static 'Images/agrumes.jpg' %}" width="1908" height="1073" alt="Photo d'agrumes"  class="uk-box-shadow-large" uk-img uk-scrollspy="cls:uk-animation-fade; delay:100;">
</div>
{% endblock second_header %}

{% block content %}
<section class="uk-width-3-5 uk-margin-auto">
	<div class="uk-card uk-card-default">
		<p class="uk-card-body uk-text-large uk-text-justify" uk-scrollspy="cls:uk-animation-fade; delay: 100;">
		Voici le tableau des produits proposés pour la commande. Pour le moment, vous pouvez commander des oranges, clémentines et mandarines par tranche de 3kg. 
		Les cédrats et les citrons peuvent être commandés par tranche de 3kg, les pamplemousses par tranche de 2,5kg.
		Si ces tranches ne vous conviennent pas, envoyez-nous un courriel ou demandez à votre voisin.e/ami.e 
		pour avoir accès à des quantités encore plus petites.... Pour voir le prix et la quantité proposée, il faut cliquer sur chacun des produits.</p>
    </div>
	<a type="button" href="{% url 'sommary_command' %}" uk-scrollspy="cls:uk-animation-fade; delay:500;" class="uk-button uk-button-secondary uk-margin-large uk-position-relative uk-position-bottom-center uk-padding-small">Générer le récapitulatif PDF de la commande</a>
</section>

<form method="post" action="{% url 'create_command' %}">
	{% csrf_token %}
	<table class="uk-table uk-table-divider uk-table-striped uk-table-hover" uk-scrollspy="cls: uk-animation-fade; target: > tbody, > thead; delay: 100; repeat: false">
		<thead>
			<tr>
				<th>Produits</th>
				<th>Ma commande</th>
				<th>Total</th>
				{% for com in command %}
				<th>{{ com.user.username }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td>Total</td>
				<td></td>
				<td>{{ total_full }} €</td>
				{% for user, total in total_users.items %}
					<td>{{ total }} €</td>
				{% endfor %}
			</tr>
		</tfoot>
		<tbody>
		{% for product, c in commands.items %}
			<td>
				<button class="uk-button uk-button-secondary" type="button">{{ product.name }}</button>
				<div uk-drop="mode: click; pos: right-center">
					<div class="uk-card uk-card-default"> 
						<div class="uk-card-header"><h5 class="uk-card-title">{{ product.name }}</h5></div>
						<div class="uk-card-body">{{ product.description|safe }}
						Prix (à l'unité): {{ product.price }} €.
						<br>{% if product.weight != 1 %}
						Vendu par caisse de {{ product.weight }} kg{% endif %}</div>
					</div>
				</div>
		</td>
				{% if request.user in total_users.keys %}
					<td><input name="{{ product.name }}" type="number" min="0" max="100" disabled class="uk-input"></td>
				{% else %}
				<td><input name="{{ product.name }}" value="0" type="number" step="{{ product.step }}"  min="0" max="100" class="uk-input"></td>
				{% endif %}
				{% for pro, to in total_product.items %}
					{% if pro == product %}
						{% if product.weight != 1 %}
							<td>({{ to.1 }} kg) {{ to.0 }} caisse{{ to.0|pluralize }}</td>
						{% else %}
							<td>{{ to.0 }}</td>
						{% endif %}
					{% endif %}
				{% endfor %}
				{% for com in command %}
					{% if com.user in c.keys %}
						{% for a, d in c.items %}
							{% if com.user == a %}
								<td>{{ d }}</td>
							{% endif %}
						{% endfor %}
					{% else %}
						<td>0</td>
					{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<input type="submit" class="uk-button uk-button-primary uk-margin-large uk-padding uk-padding-remove-top uk-padding-remove-bottom uk-position-relative uk-position-bottom-center" id="submit" value="Valider ma commande" uk-scrollspy="cls:uk-animation-fade; delay:500;">
</form>
{% endblock %}
{% block script %}
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
	<script src="{% static 'JS/commander.js' %}"></script>
{% endblock %}
