{% extends "base.html" %}

{% block title %}Récapitulatif de la commande{% endblock title %}

{% block breadcrumb %}
    <li><a href="{% url 'home' %}">Accueil</a></li>
    <li class='uk-disabled'><a>Pâtes</a></li>
    <li class='uk-disabled'><a>Commande</a></li>
    <li><span>Commande globale de pâtes</a></li>
{% endblock breadcrumb %}

{% block content %}
    <div class='uk-width-4-5 uk-margin-auto'>
        <h1 class='uk-text-center'>Récapitulatif de la commande</h1><br>
        <a type="button" href="{% url 'pasta_pdf_global_command' %}" 
        uk-scrollspy="cls:uk-animation-fade; delay: 500;" 
        class="uk-button uk-button-secondary uk-margin-large uk-position-relative uk-position-bottom-center uk-padding-small">
            Télécharger le tableau au format PDF
        </a>
        <table class="uk-table uk-table-divider uk-table-striped uk-table-hover uk-table-middle" uk-scrollspy="cls: uk-animation-fade; target: > tbody > tr, thead > tr; delay: 100; repeat: false">
            <thead>
                <tr>
                    <th>Nom du produit</th>
                    <th>Poids du produit</th>
                    <th>Quantité commandé</th>
                </tr>
            </thead>
            <tbody>
                {% for product, amount in products_amounts.items %}
                    <tr>
                        <td>{{ product.0 }}</td>
                        <td>{{ product.1 }}</td>
                        <td>{{ amount }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}