{% extends 'base.html' %}

{% block header %}
    <h1 class="uk-text-center uk-margin-xlarge-top">Créer une règle d’accès pour une page</h1>
    <aside class="uk-tile uk-tile-default uk-text-justify">
        Cette page permet de créer une régle d’accès pour une page, pour cela, il faut récupérer l'URL de la page
        concernée par cette règle (vous trouverez l'URL en haut de la page, elle devrait commencer par : https://cclapiarre.deblan.fr/).
        Il y a différentes options disponibles, vous les trouverez ci-dessus.
    </aside>
{% endblock header %}

{% block content %}
    <div>
        <form method='post' action="#">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
        </form>
    </div>
{% endblock content %}