{% extends 'base.html' %}

{% block title %}Changement reussi{% endblock %}

{% block breadcrumb %}
	<li><a href="{% url 'home' %}">Accueil</a></li>
	<li class="uk-disabled"><a href="#">{{ request.user.username }}</a></li>
    <li><a href="{% url 'change_password' %}">Changer son mot de passe</a></li>
	<li><span>Changement reussi</span></li>
{% endblock breadcrumb %}

{% block content %}
<div class="uk-card uk-card-default uk-card-large uk-position-relative uk-margin-auto uk-margin-large-bottom uk-width-2-5 uk-padding-large uk-padding-remove-top uk-padding-remove-bottom">
	<div class="uk-card-body">
		<div uk-alert class="uk-alert-success">
			<p>Votre mot de passe a bien été changé !!</p>
		</div>
	</div>
</div>
{% endblock %}