{% extends "base.html" %}

{% block title %}Réinitialisation du mot de passe{% endblock title %}

{% block header %}<h1 class="uk-text-center uk-margin-large-top">Réinitialisation du mot de passe</h1>{% endblock header %}

{% block content %}
    <div class="uk-card uk-card-default uk-width-2-5@m uk-padding-large uk-width-extends uk-margin-auto">
        <form method='post' action="#" class="uk-text-center">
            <p>Mot de passe perdu ? Saisissez votre adresse électronique ci-dessous et nous vous enverrons les instructions pour en créer un nouveau.</p>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Envoyer un lien de réinitialisation" class="uk-button uk-button-primary">
        </form>
    </div>
{% endblock content %}