{% extends 'base.html' %}

{% block title %}Liste des évènements{% endblock %}

{% block breadcrumb %}
	<li><a href="{% url 'home' %}">Accueil</a></li>
	<li class="uk-disabled"><a>Évènement</a></li>
	<li><span>Liste des évènements</span></li>
{% endblock breadcrumb %}

{% block content %}
	<div class="uk-width-4-5 uk-margin-auto">
		{% for ev in events %}
		<div id="a{{ ev.id }}" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<h2 class="uk-modal-title">Supprimer ?</h2>
				<p>Êtes-vous sur de vouloir supprimer cet évènement, aucun retour en arrière ne sera possible !</p>
				<p class="uk-text-right">
					<button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
					<a class="uk-button uk-button-primary" type="link" href="{% url 'delete_event' id_event=ev.id %}">Supprimer</a>
				</p>
			</div>
		</div>
		<article uk-scrollspy="cls:uk-animation-fade">
			<h2>{{ ev.title }}</h2>
				<div class="uk-padding-small">{{ ev.description|safe }}</div>
				<a class="uk-button uk-button-danger" uk-toggle href='#a{{ ev.id }}'>Supprimer</a>
				<a class="uk-button uk-button-secondary uk-margin-small-left" href="{% url 'update_event' id_event=ev.id %}">Modifier</a>
		</article>
			<hr />
		{% empty %}
			<p>Aucun évènement n'a été crée, cliquez <a href="{% url 'create_event' %}">Ici</a> pour un créer un.</p>
		{% endfor %}
</div>
{% endblock %}
