{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des commandes de café</title>
    <style>
    @page{
    	size: a4;
    	margin: 4cm;
    }
    .center {
        text-align: center;
      }
      .flex {
        display: flex;
      }
    </style>
</head>
<body>
    <h1 class="center">Liste des commandes de café</h1>

    {% for order, amounts in orders.items %}
          <div>
                <p class="center">
                    Nom : {{ order.user.last_name }} - Prénom : {{ order.user.first_name }}
                    <br>Email : {{ order.user.email }} - Prix à payer : {{ order.get_price }} €
                </p>
                <ul>
                    {% for amount in amounts %}
                    <li>{{ amount.coffee.farm_coop }} ({{ amount.sort }}) <span  class="text-right">{{ amount.weight }}g x {{ amount.amount }} = {{ amount.get_price }} €</span></li>
                    {% endfor %}
                </ul>
                <hr>
            </div>
    {% endfor %}
</body>