{% extends "base.html" %}

{% block title %}Changer de mot de passe{% endblock %}

{% block breadcrumb %}
	<li><a href="{% url 'home' %}">Accueil</a></li>
	<li class="uk-disabled"><a href="#">{{ request.user.username }}</a></li>
    <li><span>Changer son mot de passe</span></li>
{% endblock breadcrumb %}

{% block header %}<h1 class="uk-text-center uk-margin-large-top">Changer son mot de passe</h1>{% endblock header %}

{% block content %}
<div class="uk-card uk-card-default uk-card-large uk-position-relative uk-margin-auto uk-margin-large-bottom uk-width-2-5 uk-padding-large uk-padding-remove-top uk-padding-remove-bottom">
	<div class="uk-card-body">
		<fieldset class="uk-fieldset">
			<form method="post" action=''>
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Changer de mot de passe" class='uk-button uk-button-secondary' id="btnsubmit">
			</form>
		</fieldset>
	</div>
</div>
{% endblock %}
{% block script %}
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
	<script>
		var password1 = $("#id_new_password1")
		var password2 = $('#id_new_password2')
		var btn = $('#btnsubmit')
		var messages = $('#messages')
		var errorMessage = `<div class="uk-alert-danger" uk-alert>
								<a class="uk-alert-close" uk-close></a>
								Les deux nouveaux mot de passe ne corresponde pas, merci de corriger puis de ré-essayer !	
								<hr>
								<span class="uk-text-bold">Si vous rencontrez un probléme merci de me contacter par mail : benhassenm@tutamail.com</span>
							</div>`
		var MDPtropCourt = `<div class="uk-alert-danger" uk-alert>
								<a class="uk-alert-close" uk-close></a>
								Votre mot de passe doit faire au moins 8 caractéres, merci de corriger puis de ré-essayer !	
								<hr>
								<span class="uk-text-bold">Si vous rencontrez un probléme merci de me contacter par mail : benhassenm@tutamail.com</span>
							</div>`
		
		btn.click(function(e){
			if (password1.val() != password2.val()){
				
				e.preventDefault();
				password1.addClass('uk-form-danger');
				password2.addClass('uk-form-danger');
				messages.append(errorMessage);
				
			}
		});
	</script>
{% endblock %}